[project]
name = "billy-doc-core"
version = "0.1.0"
description = "Open source document generation engine"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
]


[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
